<!DOCTYPE html>
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
  <style>
  html, body {
    margin:0;
    padding:0;  
  }
  </style>
</head>
<body>
<!-- <% include ../partials/nav.ejs %> -->
<div class="jumbotron text-center">
  <div class="container">
    <!-- <div id="ejs_student_name">
        <h2><%= student_email %></h2>
    </div> -->
    <!-- <div id="student_name"></div> -->
    <iframe 
      src="/survey.html" 
      frameborder=0 
      scrolling=no 
      allowtransparency=true 
      width=600 
      height=800>
    </iframe>
    <!-- <a href="/" class="lang-logo">
      <img src="/oup-epigeum-logo-rectangle-cropped.png">
    </a> -->
    <!-- <h1>Getting Started</h1>
    <p>Basic App</p> -->
  </div>
</div>
</body>
</html>
