<!DOCTYPE html>
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
  <style>
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  </style>
</head>
<body>
  <div class="impact-survey"></div>

<% if (student_email) { %>
  <script>
     window.student_email = '<%= student_email %>'
  </script>
<% } %>

<script>
  var pageReady = function(){
    // Handler when the DOM is fully loaded
    var impactSurveyDivs = document.getElementsByClassName('impact-survey');
    console.log(impactSurveyDivs);
    if (impactSurveyDivs.length > 0) {
      for (var i=0; i<impactSurveyDivs.length; i++) {
        console.log('____ ::: need to load here ::: ' + impactSurveyDivs[i] + ':: EMAIL :: ' + window.student_email);
        var parentDiv = impactSurveyDivs[i];
        parentDiv.style.width = '100%';
        parentDiv.style.height = '100%';
        parentDiv.style.display = 'block';
        var iframeEl = document.createElement('iframe');
        iframeEl.src = '/spa/index.html';
        iframeEl.frameborder = 0;
        iframeEl.scrolling = 0;
        iframeEl.allowtransparency = true;
        iframeEl.width = '100%';
        iframeEl.height = '100%';
        parentDiv.appendChild(iframeEl);
      }
    }

  };

  if (
      document.readyState === "complete" ||
      (document.readyState !== "loading" && !document.documentElement.doScroll)
  ) {
    pageReady();
  } else {
    document.addEventListener("DOMContentLoaded", pageReady);
  }
</script>
</body>
</html>
